<div id="login">
  <h3 class="text-center text-primary pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <h3 class="text-center text-dark">Login</h3>
            <div class="form-group">
              <label for="username" class="text-dark">Email:</label><br>
              <input type="text" id="username" class="form-control" formControlName="email">
              <div class="alert alert-danger"
                   *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                email is required
              </div>
              <div class="alert alert-danger"
                   *ngIf="!loginForm.controls.email?.valid && (loginForm.controls.email?.dirty
    ||loginForm.controls.email?.touched)">
                <div [hidden]="!loginForm.controls.email?.hasError('email')">
                  <span style="color:red;">email address not well format.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="text-dark">Password:</label><br>
              <input type="password" id="password" class="form-control" formControlName="password">
              <div class="alert alert-danger"
                   *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength">
                password is more than 5 char
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
