<app-navbar></app-navbar>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Customer</a>
    <ng-template ngbNavContent>
      <app-create-customer></app-create-customer>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Employee</a>
    <ng-template ngbNavContent>
      <app-create-employee></app-create-employee>
    </ng-template>
  </li>
  <li ngbNavItem>

    <a ngbNavLink>Service</a>
    <ng-template ngbNavContent>
      <app-service></app-service>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Contract</a>
    <ng-template ngbNavContent>
      <app-create-contract></app-create-contract>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<app-footer></app-footer>
