<div class="row">
  <div class="container">
    <h2 class="h2 text-info">Update Employee Form</h2>
    <h3 class="h3 text-success"></h3>
    <form [formGroup]="employeeFormDelete" (ngSubmit)="deleteEmployee(id)">
      <div class="form-group">
        <!--        name-->
        <label class="center-block">Employee Name: </label>
        <input class="form-control" formControlName="name">
      </div>
      <!--      end name-->
      <!--      birthday-->
      <div class="form-group">
        <label class="center-block">Birthday: </label>
        <input type="date" class="form-control" formControlName="birthday">
      </div>
      <!--      end birthday-->
      <!--      id card-->
      <div class="form-group">
        <label class="center-block">Id Card: </label>
        <input class="form-control" formControlName="idCard">
      </div>
      <!--      end id card-->
      <!--       salary-->
      <div class="form-group">
        <label class="center-block">Salary: </label>
        <input type="number" class="form-control" formControlName="salary">
      </div>
      <!--end salary-->
      <!--       phoneNumber-->
      <div class="form-group">
        <label class="center-block">phoneNumber: </label>
        <input type="text" class="form-control" formControlName="phoneNumber">
      </div>
      <!--end phone number-->
      <!--email-->
      <div class="form-group">
        <label class="center-block">Email: </label>
        <input class="form-control" formControlName="email">
      </div>
      <!--end email-->
      <!--address-->
      <div class="form-group">
        <label class="center-block">Address: </label>
        <textarea class="form-control" name="" id="" cols="100%" rows="10" formControlName="address"></textarea>
      </div>
      <!--      end address-->
      <!--      position-->
      <div class="form-group">
        <label for="position">Select Position:</label>
        <select id="position" class="form-control" name="position" formControlName="position">
          <option value="" disabled>Choose position</option>
          <option [ngValue]="p.name" *ngFor="let p of positions">
            {{p.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="education">Select Education Degree:</label>
        <select id="education" class="form-control" formControlName="education">
          <option value="" disabled>Choose education</option>
          <option [ngValue]="e.name" *ngFor="let e of educationDegrees">
            {{e.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="department">Select Department:</label>
        <select id="department" class="form-control" formControlName="department">
          <option value="" disabled>Choose department</option>
          <option [ngValue]="d.name" *ngFor="let d of departments">
            {{d.name}}
          </option>
        </select>
      </div>
      <input type="submit" value="Delete" class="btn btn-primary">
    </form>
  </div>
</div>


