<div class="row">
  <div class="col-md-4">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="center-block">User Id: </label>
        <input class="form-control" formControlName="userId">
        <div *ngIf="userId.invalid && (userId.dirty || userId.touched)" class="alert alert-danger">
          <div *ngIf="userId.errors.required">
            User Id is required.
          </div>

          <div *ngIf="userId.errors.minlength">
            Name must be at least 6 characters long.
          </div>
          <div *ngIf="userId.errors.maxLength">
            Name cannot exceed from 50 characters long.
          </div>
        </div>

      </div>
      <div class="form-group">
        <label class="center-block">Email: </label>
        <input class="form-control" formControlName="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email address is required.
          </div>
          <div *ngIf="email.errors.pattern">
            Email address is not valid.
          </div>
          <div *ngIf="email.errors.maxLength">
            Email cannot exceed from 50 characters long.
          </div>
        </div>

      </div>
      <div class="form-group">
        <label class="center-block">Name: </label>
        <input class="form-control" formControlName="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 2 characters long.
          </div>
          <div *ngIf="name.errors.maxLength">
            Name cannot exceed from 100 characters long.
          </div>
        </div>

      </div>
      <div formGroupName="passwords">
        <div class="form-group">
          <label class="center-block">Password: </label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters long.
            </div>
            <div *ngIf="password.errors.maxLength">
              Password cannot exceed from 30 characters long.
            </div>
          </div>

        </div>
        <div class="form-group">
          <label class="center-block">Confirmation Password:</label>
          <input type="password" class="form-control" formControlName="passwordConfirmation">
          <div *ngIf="passwords.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
               class="alert alert-danger">
            <div *ngIf="passwords.errors.mismatch">
              The confirmation does not match with the password.
            </div>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="center-block">Phone: </label>
        <input type="text" class="form-control" formControlName="phone">
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
          <div *ngIf="phone.errors.required">
            phone is required.
          </div>
          <div *ngIf="phone.errors.minlength">
            phone must be at least 10 characters .
          </div>
          <div *ngIf="phone.errors.maxLength">
            Name cannot exceed from 12 characters long.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label class="center-block">Age: </label>
        <input type="text" class="form-control" formControlName="age">
        <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
          <div *ngIf="age.errors.required">
            age is required.
          </div>
          <div *ngIf="age.errors.pattern">
            age must be a number.
          </div>
          <div *ngIf="age.errors.min">
            age must be greater than 18.
          </div>
          <div *ngIf="age.errors.max">
            age cannot exceed 60.
          </div>
        </div>

      </div>
      <div></div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="gender">Gender:</label>
          </div>
          <div class="col-md-4">
            <input type="radio" class="form-check" id="gender" value="male" name="gender" formControlName="gender">
            Male
          </div>
          <div class="col-md-4">
            <input type="radio" class="form-check" value="female" name="gender" formControlName="gender"> Female
          </div>
        </div>
        <div class="row">
          <div class="alert alert-danger"
               *ngIf="!registrationForm.controls.gender?.valid && (registrationForm.controls.gender?.dirty
    ||registrationForm.controls.gender?.touched)">
            <div class="alert alert-danger"
                 *ngIf="!registrationForm.controls.gender?.valid && (registrationForm.controls.gender?.dirty
    ||registrationForm.controls.gender?.touched)">
              gender is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Select Country:</label>
        <select id="country" class="form-control" name="country" formControlName="country">
          <option value="">---</option>
          <option [ngValue]="c.name" *ngFor="let c of countryList">
            {{c.name}}
          </option>
        </select>
        <div class="alert alert-danger"
             *ngIf="!registrationForm.controls.country?.valid && (registrationForm.controls.country?.dirty
    ||registrationForm.controls.country?.touched)">
          country is required.
        </div>
      </div>
      <input type="submit" value="Confirm" class="btn btn-primary" [disabled]="registrationForm.invalid">
    </form>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="container-fluid text-center">
        <h3 class="h3 text-success"> User List
        </h3>
      </div>

    </div>
    <table class="table table-hover table-borderless table-responsive-md table-striped ">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">Country</th>
      </tr>
      </thead>
      <tbody class="text-dark">
      <tr *ngFor="let user of users">
        <td>{{user.userId}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.passwords.password}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.age}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.country}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


