<div class="row">
  <div class="col-md-6 text-center"><h2 class="text-info">EMPLOYEE MANAGER</h2></div>
  <div class="col-md-6 text-center">
    <h2 class="text-info"><a routerLink="/employees/create" class="btn btn-outline-primary">NEW EMPLOYEE</a></h2>
  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <table class="table table-borderless table-hover table-striped table-responsive-md">
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>birthday</th>
        <th>idCard</th>
        <th>salary</th>
        <th>phoneNumber</th>
        <th>email</th>
        <th>address</th>
        <th>education</th>
        <th>position</th>
        <th>department</th>
        <th>view</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees  | slice: (page-1) * pageSize : page * pageSize">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.birthday}}</td>
        <td>{{employee.idCard}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.education}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.department}}</td>
        <td><a [routerLink]="['/employees/view',employee.id]"
               class="btn-outline-primary btn btn-info text-white">view</a></td>
        <td><a [routerLink]="['/employees/edit',employee.id]" class="btn-outline-primary btn btn-warning text-white">edit</a>
        </td>
        <!--        <td><a [routerLink]="['/employees/delete',employee.id]" class="btn-outline-primary btn btn-danger text-white">delete</a></td>-->
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-outline-primary" data-toggle="modal"
                  data-target="#exampleModal" (click)="sendIdToComponent(employee.id)">
            delete
          </button>
        </td>
        <td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="8">8 items per page</option>
        <option [ngValue]="10">10 items per page</option>
      </select>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this employee <span style="color: red">{{nameEdit}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteemployee()">Delete</button>
      </div>
    </div>
  </div>
</div>
