:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100vw;
  background-color: #bbe1fa;
}

.countdownTimer {
  position: relative;
  width: 300px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b36363;
  border: 20px solid #fff;
  border-radius: 5px;
  box-shadow: inset 0 0 15px black;
  font-size: 26px;
  color: white;
  text-transform: uppercase;
}

.message{
  font-size: 40px;
  color: red;
}
