/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  margin: 0;
  padding: 0;
  background-color: rgba(35,50,24,0.16);
  height: 100vh;
}
